/* Navbar */

/* Jumbotron */
.jumbotron {
    background-image: url(img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.jumbotron .display-4 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7) ;
}

.lead {
    color: rgb(228, 228, 228);
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7) ;
    font-weight: bolder;
}

/* DESKTOP */
@media (min-width: 992px) { 
    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7) ;
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid rgb(0, 132, 255);
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px;
        background-size: cover;
        background-repeat: no-repeat;
        height: 680px;
    }

    .jumbotron .display-4 {
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 50px;
        font-weight: bolder;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7) ;
    }
    
    .lead {
        color: rgb(228, 228, 228);
        text-align: center;
        font-size: 30px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7) ;
        font-weight: bolder;
    }

}
 